<h1>Welcome to {{title}}</h1>
<p>A realtime progressive Node.js structure for creating scalable, secure and server-side applications.</p>
<p id="note"></p>
<ul id="posts">

</ul>

<button id="fetchPost">Fetch posts</button>